<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<services>
			<service name="_1109_MemberService.MemberService" behaviorConfiguration="11111">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost/wcf/wb34/MemberService"/>
					</baseAddresses>
				</host>
				<endpoint
					contract="_1109_MemberService.IMemberService"
					address=""
					binding="basicHttpBinding"
         />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="11111">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>