<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
      <services>
        <service name="_1104_Service.HelloWorldWCFService" behaviorConfiguration="11111">
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost/wcf/sample/helloworldserver"/>              
            </baseAddresses>
          </host>
          <endpoint
              contract="_1104_Service.IHelloWorld"
              address=""
              binding="basicHttpBinding"
          />
          <endpoint 
            contract="_1104_Service.IHelloWorld"
            address="net.tcp://localhost:8080/wcf/sample/helloworldserver"
            binding="netTcpBinding"
           />
        </service>        
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="11111">
            <serviceMetadata httpGetEnabled="true"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>